@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --fontFamily: 'Cutive Mono', monospace;
  --colorPrimary: #f05454;
  --colorSecondary: #30475e;
  --colorMed: #dddddd;
  --colorLight: #ffffff;
  --colorDark: #222831;
  --borderRadius: 3px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 600px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-family: var(--fontFamily);
  background-color: var(--colorLight);
  color: var(--colorDark);
}

li {
  list-style: none;
}
